.panels-shadow > * {
    box-shadow: -4px 0px 4px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: -4px 0px 4px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: -4px 0px 4px 2px rgba(0,0,0,0.3);
}

@media all and (max-width: 800px) {
	.hide-narrow {
		display:none;
	}
}